@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/exo-2-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v17-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v17-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1, h2, h3, strong {
  font-family: "Exo 2", sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  display: none;
}

#hero {
  padding-top: 109px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
}
.hero__info {
  padding-top: 81px;
  max-width: 556px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.hero__info--title {
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  color: rgb(54, 55, 56);
}
.hero__info--text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(107, 107, 108);
}
.hero__info--link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(54, 55, 56);
  position: relative;
  z-index: 5;
  transition: all 0.3s linear;
}
.hero__info--link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 206, 80);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.hero__info--link:hover {
  color: white;
}
.hero__info--link:hover::after {
  height: 100%;
}
.hero__img--image:nth-child(2), .hero__img--image:nth-child(3) {
  display: none;
}

@media (max-width: 1220px) {
  .hero {
    align-items: center;
  }
  .hero__info {
    padding-top: 0px;
  }
}
@media (max-width: 1050px) {
  .hero {
    gap: 40px;
  }
  .hero__info {
    padding-top: 40px;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  #hero {
    padding-top: 117px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__info {
    align-items: center;
    text-align: center;
    padding-top: 0px;
    max-width: 100%;
    gap: 44px;
  }
  .hero__info--title {
    margin-bottom: 5px;
    font-size: 44px;
    line-height: 55px;
  }
  .hero__img {
    width: 100%;
  }
  .hero__img--image:nth-child(1) {
    display: none;
  }
  .hero__img--image:nth-child(2) {
    display: block;
    width: 100%;
  }
}
@media (max-width: 576px) {
  #hero {
    padding-top: 75px;
  }
  .hero__info {
    align-items: flex-start;
    text-align: left;
    gap: 32px;
  }
  .hero__info--title {
    margin-top: 0px;
    font-size: 28px;
    line-height: 35px;
  }
  .hero__img--image:nth-child(2) {
    display: none;
  }
  .hero__img--image:nth-child(3) {
    width: 100%;
    display: block;
  }
}
#features {
  margin-top: 67px;
}

.features {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 40px;
}
.features__feature {
  border-left: 1px solid rgb(215, 215, 221);
  padding-left: 64px;
}
.features__feature:nth-child(1) {
  border-left: none;
  padding-left: 40px;
}

.feature__wrapper {
  max-width: 230px;
  width: 100%;
}

.feature__icon, .item__icon {
  max-width: 92px;
  width: 100%;
  height: 92px;
  display: grid;
  place-items: center;
  background-color: rgb(233, 233, 236);
  border-radius: 50%;
}
.feature__title, .item__title {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: rgb(54, 55, 56);
}
.feature__text, .item__text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(107, 107, 108);
}

@media (max-width: 1120px) {
  .features__feature {
    padding-left: 40px;
  }
  .features__feature:nth-child(1) {
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  #features {
    margin-top: 41px;
  }
  .features {
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    box-shadow: none;
  }
  .features__feature {
    width: 100%;
    padding: 32px;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .features__feature:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
  }
  .features__feature:nth-child(1) {
    padding-left: 32px;
  }
  .feature__wrapper {
    max-width: 100%;
    display: flex;
    gap: 32px;
  }
  .feature__info {
    max-width: 400px;
    width: 100%;
  }
  .feature__title {
    margin-top: 0px;
  }
}
@media (max-width: 576px) {
  #features {
    margin-top: 56px;
  }
  .features {
    padding: 24px 27px 32px 32px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    gap: 24px;
  }
  .features__feature {
    box-shadow: none;
    padding: 0px;
  }
  .features__feature:nth-child(1) {
    padding-left: 0px;
  }
  .feature__wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .feature__info {
    max-width: 100%;
  }
  .feature__title {
    font-size: 18px;
    line-height: 24px;
  }
  .feature__text {
    font-size: 15px;
    line-height: 22px;
  }
}
#why-us {
  margin-top: 67px;
}

.why-us {
  padding: 178px 0 166px 90px;
  background-image: url("../../images/why-img.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: -2;
  position: relative;
}
.why-us::before {
  content: "";
  display: block;
  position: absolute;
  max-width: 769px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 129px;
  background-color: rgb(11, 117, 114);
  -webkit-clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
  z-index: -1;
}
.why-us__info {
  max-width: 362px;
  width: 100%;
}
.why-us__title {
  position: relative;
  z-index: 3;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: rgb(255, 255, 255);
}
.why-us__items {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 62px;
}

.item {
  max-width: 447px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.item__title {
  margin-top: 0px;
}

@media (max-width: 992px) {
  .why-us {
    padding: 112px 0 106px 85px;
  }
  .why-us::before {
    max-width: 600px;
  }
  .why-us__items {
    flex-direction: column;
    align-items: center;
  }
  .why-us__title {
    font-size: 44px;
    line-height: 55px;
  }
  .item {
    max-width: 100%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .why-us {
    padding: 112px 0 106px 55px;
  }
}
@media (max-width: 576px) {
  #why-us {
    display: none;
  }
}
#completed-work {
  margin-top: 120px;
}

.completed-work {
  width: 100%;
}
.completed-work__info {
  max-width: 535px;
  width: 100%;
}
.completed-work__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: rgb(54, 55, 56);
}
.completed-work__text {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(107, 107, 108);
}
.completed-work__types {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.completed-work__type {
  max-width: 393px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  transition: all 0.3s linear;
}
.completed-work__type:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.completed-work__type--img {
  width: 100%;
  height: auto;
}
.completed-work__type--info {
  padding: 24px 32px 32px;
}
.completed-work__type--title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: rgb(54, 55, 56);
}
.completed-work__type--text {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(107, 107, 108);
}
.completed-work__type--strong::after {
  bottom: -10px;
}
.completed-work__type--strong:hover::after {
  bottom: 0px;
}

@media (max-width: 992px) {
  .completed-work__types {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .completed-work__type {
    max-width: 48%;
  }
  .completed-work__type:nth-child(3) {
    display: none;
  }
}
@media (max-width: 860px) {
  .completed-work__title {
    font-size: 44px;
    line-height: 55px;
  }
  .completed-work__types {
    margin-top: 40px;
    gap: 32px;
  }
  .completed-work__type {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .completed-work__title {
    font-size: 28px;
    line-height: 35px;
  }
  .completed-work__text {
    font-size: 15px;
    line-height: 22.5px;
  }
  .completed-work__type--img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .completed-work__type--title {
    font-size: 18px;
    line-height: 24px;
  }
  .completed-work__type--text {
    font-size: 15px;
    line-height: 22.5px;
  }
  .completed-work__type:nth-child(2) {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */