*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}
h1,h2,h3,strong{
    font-family: "Exo 2", sans-serif;
}
.footer__logo a{
    font-family: "Familjen Grotesk", sans-serif;
}