#footer{
    margin-top: 166px;
    background-color: $main-color;
}
.footer{
    padding: 80px 0;
    @include display($direction:row, $items:flex-start, $justify:space-between);
    &__logo{
        & a{
            @include textStyle($fs:60px, $fw:500, $lh:90px, $clr:white);
            letter-spacing: 0.16em;
        }
    }
    &__lists{
        width: 35%;
        @include display($direction:row, $items:flex-start, $justify:space-between);
    }
    &__list{
        @include display($direction:column, $items:flex-start, $justify:flex-start);
        gap: 25px;
    }
    &__link{
        @include textStyle($fs:13px, $fw:600, $lh:19.5px, $clr:white);
        letter-spacing: 0.16em;
        text-transform: capitalize;
    }
    &__social{
        @include display($direction:column, $items:flex-start, $justify:space-evenly);
        gap: 32px;
    }
    &__media{
        @include display($direction:row, $items:flex-start, $justify:flex-start);
        gap: 14px;
        & a {
            display: inline-block;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            border: 1px solid white;
            display: grid;
            place-items: center;
            color: white;
            transition: all .3s linear;
            &:hover{
                color: $secondary-color;
                border: 1px solid $secondary-color;
            }
        }
    }
    &__phone{
        @include textStyle($fs:13px, $fw:600, $lh:19.5px, $clr:white);
    }
    &__link-to-room{
        padding: 8px 11px;
        @include display($direction:row, $items:center, $justify:space-between);
        gap: 14px;
        background-color: $secondary-color;
        color: white;
        text-transform: uppercase;
    }
    &__bottom{
        padding-bottom: 29px;
        @include textStyle($fs:12px,$fw:500, $lh:18px, $clr:white);
        text-align: center;
        letter-spacing: 0.16em;
        
    }
}

@media (max-width:820px) {
    .footer{
        &__logo{
            & a{
                font-size: 30px;
                line-height: 45px;
            }
        }
        &__lists{
            justify-content: space-around;
        }
        &__link, &__phone{
            font-size: 8px;
            line-height: 12px;
        }
        &__media{
            & a{
                width: 20px;
                height: 20px;
                & svg{
                    width: 14px;
                    height: 14px;
                }
            }
        }
        &__link-to-room{
            padding: 4px 9px 4px 4px;
            & span{
                font-size: 6px;
                line-height: 9px;
            }
        }
    }
}
@media (max-width:476px) {
    .footer{
        padding: 14px;
        flex-direction: column;
        &__logo{
            margin-bottom: 32px;
            & a{
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__lists{
            margin-bottom: 17px;
            width: 100%;
            justify-content: flex-start;
            gap: 60px;
        }
        &__social{
            width: 100%;
        }
        &__link-to-room{
            width: 100%;
            justify-content: center;
            & span{
                font-size: 10px;
                line-height: 15px;
            }
        }
    }
}